<template>
  <main class="notFoundPage">
    <div class="row">
      <div class="col-12 d-flex justify-content-center pt-5">
        <p class="fs-1 m-0 fw-bold text-center">Page not found</p>
      </div>
    </div>
  </main>
</template>

<script>
import ResponseMixin from '@/mixins/ResponseMixin'
export default {
  name: 'NotFoundView',
  mixins: [ResponseMixin],
  created () {
    const status = 404
    const data = {}
    const msg = this.fullErrMsg(status, data, this.stdCheck404(status, data))
    this.$store.commit('errHandling/raiseError', msg)
  }
}
</script>
