import { default } from './MainView.vue';
<template>
  <main class="aboutPage">
    <div class="row">
      <section class="col-12 pt-3 ps-5">
        <h3>About the SHDDR method</h3>
        <p class="fw-normal text-wrap fs-5">
          The SHDDR is a <i>de novo</i> method of identifying dispersed repeats
          which is based on the use of random position-weight matrices (PWM) and an iterative procedure.
          The created algorithm makes it possible to identify dispersed repeats with
          average number of substitutions between any two repeats per one base (x) is less than 1.6.
          This value is significantly more than all modern <i>de novo</i> methods can achieve.
          Previously, we used this method to search for dispersed repeats in the genome of E.coli and 9 other bacteria.
          <b>We have succeeded to show that families of dispersed repeats with the number of copies from 600 to several thousand copies exist in the genomes of bacteria.
          These repeats have length values in range from 400 to 600 bases.</b> We discuss the possible functional significance and origin of these repeats.
        </p>
      </section>
    </div>
    <div class="row">
      <section class="col-12 pt-5 ps-5">
        <h3>About the SHDDR tool</h3>
        <p class="fw-normal text-wrap fs-5">
          Registration and email verification is required to perform most of the actions available on the site.<br>
          "Sequence" input field requires a file in FASTA format with a single sequence.<br>
          "Dispersed repeat length" input field requires an integer in range [100, 800] (default value is 600).<br>
          "Gap cost" input field requires an integer in range [0, 10000] (default value is 35).<br>
          The SHDDR calculations require lots of computing resources and they can take sufficient time.
          So the queue of tasks is applied. A user can own no more then 3 queued tasks simultaneously.
          After a task has been executed the result is created and placed to a storage for a week.
          You can monitor your tasks and results states on the main page.
        </p>
      </section>
    </div>
  </main>
</template>

<script>

</script>
