<template>
  <main class="mainPage">
    <div class="row d-flex justify-content-begin">
      <div class="col-9 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4 pt-2 ps-5">
        <form-base @submit.prevent="() => undefined">
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="mainFile">Sequence</label>
            <input type="file" id="mainFile" class="form-control" required ref="file"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="fileInvalid !== undefined">{{ fileInvalid }}</div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="mainDRL">Dispersed repeat length</label>
            <input type="number" id="mainDRL" class="form-control" placeholder="600" v-bind:min="minDRL" v-bind:max="maxDRL" required v-model.trim="drl"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="drlInvalid !== undefined">{{ drlInvalid }}</div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="mainGapCost">Gap cost</label>
            <input type="number" id="mainGapCost" class="form-control" placeholder="35" v-bind:min="minGapCost" v-bind:max="maxGapCost" v-model.trim="gapCost"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="gapCostInvalid !== undefined">{{ gapCostInvalid }}</div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="mainName">Name (optional)</label>
            <input type="text" id="mainName" class="form-control" placeholder="name" v-bind:maxlength="this.maxNameLength" v-model.trim="name"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="nameInvalid !== undefined">{{ nameInvalid }}</div>
          </div>
          <div>
            <button-base type="submit" class="btn btn-primary btn-block mb-4" id="taskSubmitButton" :disabled="isDisabled" @click="submitForm($event)">Add to queue</button-base>
            <div class="alert alert-success text-wrap fs-5" role="alert" v-if="lastTaskId !== undefined">
              Task successfully submitted!<br>Result will be available on the <router-link class="alert-link" :to="'/result/page/'+lastTaskId.toString()">link</router-link> for {{lastTaskStoreTime.toString()}} days after it will be obtained
            </div>
          </div>
        </form-base>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 d-flex pt-2 ps-5">
        <section class="tasks">
          <h5><button-base @click="loadTasks()"><img src="@/assets/arrow-repeat.svg" alt="refresh" width="24" height="24"></button-base> Tasks:</h5>
          <div class="alert alert-secondary fw-normal text-wrap fs-5 mt-3" id="tasks" role="alert" v-if="tasks === undefined || tasks.length === 0">
            There are no tasks in the queue
          </div>
          <table class="table table-light" id="tasks" v-else>
            <thead>
              <tr class="table-light">
                <th scope="col" class="table-light">Name</th>
                <th scope="col" class="table-light">Date</th>
                <th scope="col" class="table-light">Status</th>
                <th scope="col" class="table-light">Dispersed repeat length</th>
                <th scope="col" class="table-light">Gap cost</th>
                <th scope="col" class="table-light">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-light"
                v-for="task in tasks"
                :task="task"
                :key="task.id"
              >
                <td scope="row" class="table-light">{{task.name}}</td>
                <td class="table-light">{{task.date}}</td>
                <td class="table-light">{{task.status}}</td>
                <td class="table-light">{{task.param_iper}}</td>
                <td class="table-light">{{task.param_gap_cost}}</td>
                <td class="table-light"><router-link :to="'/result/page/'+task.id.toString()">/result/page/{{task.id}}</router-link></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 d-flex pt-2 ps-5">
        <section class="results">
          <h5><button-base @click="loadResults()"><img src="@/assets/arrow-repeat.svg" alt="refresh" width="24" height="24"></button-base> Results:</h5>
          <div class="alert alert-secondary fw-normal text-wrap fs-5 mt-3" id="results" role="alert" v-if="results === undefined || results.length === 0">
            There are no results in the storage
          </div>
          <table class="table table-light" id="results" v-else>
            <thead>
              <tr class="table-light">
                <th scope="col" class="table-light">Name</th>
                <th scope="col" class="table-light">Date</th>
                <th scope="col" class="table-light">Status</th>
                <th scope="col" class="table-light">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-light"
                v-for="result in results"
                :result="result"
                :key="result.id"
              >
                <td scope="row" class="table-light">{{result.name}}</td>
                <td class="table-light">{{result.date}}</td>
                <td class="table-light">{{result.status}}</td>
                <td class="table-light"><router-link :to="'/result/page/'+result.id.toString()">/result/page/{{result.id}}</router-link></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </main>
</template>

<script>
import ResponseMixin from '@/mixins/ResponseMixin'
import FormBase from '@/components/FormBase.vue'
import ButtonBase from '@/components/ButtonBase.vue'
export default {
  name: 'RegisterView',
  mixins: [ResponseMixin],
  components: { FormBase, ButtonBase },
  data () {
    return {
      maxNameLength: 128,
      minDRL: 100,
      maxDRL: 800,
      minGapCost: 0,
      maxGapCost: 10000,
      maxFileSize: 1024 * 1024 * 1024, // 1Gb

      lastTaskId: undefined,
      lastTaskStoreTime: undefined,
      drl: undefined,
      gapCost: undefined,
      name: undefined,
      drlInvalid: undefined, // undefined or str (error message)
      gapCostInvalid: undefined, // undefined or str (error message)
      nameInvalid: undefined, // undefined or str (error message)
      fileInvalid: undefined, // undefined or str (error message)

      isDisabled: false,

      tasks: undefined,
      results: undefined
    }
  },
  methods: {
    validateDRL (drl) {
      if ((typeof drl === 'number') && Number.isInteger(drl) && drl >= this.minDRL && drl <= this.maxDRL) {
        return undefined
      } else {
        return 'DRL must be an integer p: ' + this.minDRL.toString() + ' ≤ p ≤ ' + this.maxDRL.toString()
      }
    },

    validateGapCost (gapCost) {
      if ((gapCost === undefined) || ((typeof gapCost === 'number') && (Number.isInteger(gapCost)) && (gapCost >= this.minGapCost) && (gapCost <= this.maxGapCost))) {
        return undefined
      } else {
        return 'Gap cost must be an integer c: ' + this.minGapCost.toString() + ' ≤ c ≤ ' + this.maxGapCost.toString()
      }
    },

    validateName (name) {
      if (name) {
        if (name.length <= this.maxNameLength) {
          return undefined
        } else {
          return 'Name must contain ≤ ' + this.maxNameLength.toString() + ' characters'
        }
      } else {
        return undefined
      }
    },

    validateFile (file) {
      if (file === undefined) {
        return 'Sequence file is required'
      } else if (file.size <= this.maxFileSize) {
        return undefined
      } else {
        return 'Sequence file size must be ≤ ' + this.maxFileSize + ' bytes'
      }
    },

    validateForm () {
      this.drlInvalid = this.validateDRL(this.drl)
      this.gapCostInvalid = this.validateGapCost(this.gapCost)
      this.nameInvalid = this.validateName(this.name)
      this.fileInvalid = this.validateFile(this.$refs.file.files[0])
      return (this.drlInvalid === undefined) && (this.gapCostInvalid === undefined) && (this.nameInvalid === undefined) && (this.fileInvalid === undefined)
    },

    async submitForm (event) {
      this.isDisabled = true
      if (this.validateForm()) {
        const file = this.$refs.file.files[0]
        const response = await this.axios.request({
          method: 'PUT',
          url: '/task',
          data: {
            data: await file.text(),
            param_iper: this.drl,
            param_gap_cost: this.gapCost,
            name: (this.name) ? (this.name) : (file.name + '_' + this.drl.toString())
          },
          validateStatus: () => true
        })
        const [status, data, errMsg] = this.checkResponse(
          response,
          (status, data) => {
            if (status === 200) {
              if (!('id' in data) || !('store_time' in data)) {
                return 'Got status code 200 on /task but "id" or "store_time" is absent'
              } else {
                this.drl = undefined
                this.gapCost = undefined
                this.name = undefined
                this.lastTaskId = data.id
                this.lastTaskStoreTime = data.store_time
                return null
                // this.loadTasks()
                // this.loadResults()
              }
            } else {
              return undefined
            }
          },
          this.stdCheck302,
          this.stdCheck401,
          (status, data) => {
            if (status === 403) {
              if ('reason' in data && 'count' in data && 'limit' in data && data.reason === 'count') {
                return 'A user can not place more then ' +
                data.limit +
                ' tasks to queue simultaneously. Please wait until one of your tasks will be completed'
              } else {
                return this.stdCheck403(status, data)
              }
            } else {
              return undefined
            }
          },
          this.stdCheck400,
          this.stdCheck404,
          this.stdCheck500,
          this.stdCheckUnexpected
        )
        if ((errMsg !== undefined) && (errMsg !== null)) {
          this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
        }
      }
      this.isDisabled = false
    },

    async loadTasks () {
      const response = await this.axios.request({
        method: 'GET',
        url: '/task/list',
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (Array.isArray(data)) {
              this.tasks = data
              return null
            } else {
              return 'Got status code 200 on /task/list but data is not an array'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        this.stdCheck403,
        this.stdCheck400,
        this.stdCheck404,
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    },

    async loadResults () {
      const response = await this.axios.request({
        method: 'GET',
        url: '/result/list',
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (Array.isArray(data)) {
              this.results = data
              return null
            } else {
              return 'Got status code 200 on /result/list but data is not an array'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        this.stdCheck403,
        this.stdCheck400,
        this.stdCheck404,
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    }
  },

  mounted () {
    this.loadTasks()
    this.loadResults()
  }
}
</script>
