<template>
  <main class="resultPage">
    <div class="row">
      <div class="col-12 d-flex justify-content-begin pt-4 ps-5">
        <div class="alert alert-secondary fw-normal text-wrap fs-5" v-if="state === undefined">
          Waiting for data from server...
        </div>

        <div class="alert alert-primary fw-normal text-wrap fs-5" v-else-if="state === 'queued'">
          The task is now in queue. Calculations can take sufficient time.<br>
          The page will periodically check the state of the task. You will get the result as soon as it will be ready.
        </div>

        <div class="alert alert-warning fw-normal text-wrap fs-5" v-else-if="state === 'lostOrExpired'">
          The result is expired (or lost due to server error).
        </div>

        <div class="alert alert-primary fw-normal text-wrap fs-5" v-else-if="state === 'executing'">
          The task is now being executed. Calculations can take sufficient time.<br>
          The page will periodically check the state of the task. You will get the result as soon as it will be ready.
        </div>

        <div class="alert alert-danger fw-normal text-wrap fs-5" v-else-if="state === 'error'">
          An error in calculations has ocurred.
        </div>

        <div class="alert alert-danger fw-normal text-wrap fs-5" v-else-if="state === 'unexpected'">
          Unexpected backend error.
        </div>

        <div v-else-if="state === 'ok'">
          <div class="mb-5">
            <p class="fs-4 fw-normal">Name: {{ result.result.name }}</p>
            <p class="fs-4 fw-normal">Date: {{ result.result.date }}</p>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label fs-5 fw-normal" for="resultsZip">All result files as zip archive:</label><br>
            <button-base class="btn btn-success btn-lg" @click="downloadZIP(result)" id="resultsZip">
              {{ result.result.name }}.zip
            </button-base>
          </div>
          <div class="form-outline">
            <label class="form-label fs-5 fw-normal" for="resultsFiles">Result files:</label>
            <div id="resultsFiles container">
              <div class="row justify-content-start row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-8 row-cols-xxl-10">
                <div
                  class="col p-2"
                  v-for="resultData in result.result_data"
                  :resultData="resultData"
                  :key="resultData.result_id"
                >
                  <button-base
                    class="btn btn-success"
                    @click="download(resultData)"
                  >
                    {{ resultData.name }}
                  </button-base>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-danger fw-normal text-wrap fs-5" v-else>
          Unexpected frontend error.
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import ResponseMixin from '@/mixins/ResponseMixin'
import ButtonBase from '@/components/ButtonBase.vue'
import JSZip from 'jszip'
import saveAs from 'file-saver'
export default {
  name: 'ResultView',
  mixins: [ResponseMixin],
  components: { ButtonBase },
  data () {
    return {
      result: undefined,
      task: undefined,
      state: undefined,

      reloadExecutingTime: 10,
      reloadQueuedTime: 20
    }
  },
  methods: {
    async sleep (sec) {
      return new Promise(resolve => setTimeout(resolve, sec * 1000))
    },

    async waitResult () {
      while (true) {
        if (this.$route.name !== 'ResultView') {
          break
        }
        await this.loadResult()

        if (this.result === undefined) {
          if (this.$route.name !== 'ResultView') {
            break
          }
          await this.loadTask()

          if (this.task === undefined) {
            this.state = 'lostOrExpired'
            break
          } else if (this.task.status === 'queued') {
            this.state = 'queued'
            await this.sleep(this.reloadQueuedTime)
          } else if (this.task.status === 'executing') {
            this.state = 'executing'
            await this.sleep(this.reloadExecutingTime)
          } else if (this.task.status === 'done') {
            // task is done while this.result === undefined
            // maybe result was obtained between this.loadResult() and this.loadTask()

            if (this.$route.name !== 'ResultView') {
              break
            }
            await this.loadResult()

            if (this.result === undefined) {
              this.state = 'unexpected'
            } else if (this.result.result.status === 'ok') {
              this.state = 'ok'
            } else if (this.result.result.status === 'error') {
              this.state = 'error'
            } else {
              this.state = 'unexpected'
            }
            break
          } else {
            this.state = 'unexpected'
            break
          }
        } else {
          if (this.result.result.status === 'ok') {
            this.state = 'ok'
            break
          } else if (this.result.result.status === 'error') {
            this.state = 'error'
            break
          } else {
            this.state = 'unexpected'
            break
          }
        }
      }
    },

    async loadResult () {
      const id = parseInt(this.$route.params.id)
      if (this.$route.name !== 'ResultView') {
        return
      }
      const response = await this.axios.request({
        method: 'POST',
        url: '/result/fetch',
        data: {
          id: id
        },
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (('result' in data) && ('result_data' in data)) {
              this.result = data
              return null
            } else {
              return 'Got status code 200 on /result/fetch but "result" or "result_data" is absent'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        (status, data) => {
          if (status === 403) {
            if (('reason' in data) && (data.reason === 'ownership')) {
              return 'Task/result with such id does not belong to you'
            } else {
              return this.stdCheck403(status, data)
            }
          } else {
            return undefined
          }
        },
        this.stdCheck400,
        this.stdCheck404,
        (status, data) => {
          if (status === 410) {
            // no result, this.result remains undefined
            return null
          } else {
            return undefined
          }
        },
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    },

    async loadTask () {
      const id = parseInt(this.$route.params.id)
      if (this.$route.name !== 'ResultView') {
        return
      }
      const response = await this.axios.request({
        method: 'POST',
        url: '/task/fetch',
        data: {
          id: id
        },
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (('id' in data) && ('name' in data) && ('date' in data) && ('param_iper' in data) && ('status' in data)) {
              this.task = data
              return null
            } else {
              return 'Got status code 200 on /task/fetch but "id" or "name" or "date" or "param_iper" or "status" is absent'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        (status, data) => {
          if (status === 403) {
            if (('reason' in data) && (data.reason === 'ownership')) {
              return 'Task/result with such id does not belong to you'
            } else {
              return this.stdCheck403(status, data)
            }
          } else {
            return undefined
          }
        },
        this.stdCheck400,
        this.stdCheck404,
        (status, data) => {
          if (status === 410) {
            // no task, this.task remains undefined
            return null
          } else {
            return undefined
          }
        },
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    },

    download (resultData) {
      const data = new Blob([resultData.data], { type: 'text/plain;charset=UTF-8' })
      saveAs(data, resultData.name)
    },

    downloadZIP (result) {
      const zip = new JSZip()
      const folder = zip.folder(result.result.name)
      for (const rd of result.result_data) {
        folder.file(rd.name, rd.data)
      }
      zip.generateAsync({ type: 'blob' }).then((content) => { saveAs(content, result.result.name + '.zip') })
    }
  },

  mounted () {
    this.waitResult()
  }
}
</script>
