{% extends 'admin/master.html' %}

{% block body %}
  <div>
    <h4>CRUD operations on database tables are available on the corresponding tabs of the navigation bar</h4>
  </div>
  <div>
    <p>(available only for authorized users with verified email and admin status)</p>
  </div>
{% endblock %}
