<template>
  <page-header class="container min-vw-100 bg-light p-3" :navTabs="navTabs" :title="title"/>
  <router-view class="container min-vw-100 bg-body p-3"/>
  <page-footer class="container min-vw-100 bg-light mt-auto p-3"/>
  <error-msg/>
</template>

<script>
import PageFooter from '@/components/PageFooter.vue'
import PageHeader from '@/components/PageHeader.vue'
import ErrorMsg from '@/components/ErrorMsg.vue'

export default {
  components: {
    PageFooter, PageHeader, ErrorMsg
  },
  data () {
    return {
      title: 'Search for highly divergent dispersed repeats',
      navTabs: [
        { ref: '/auth/', name: 'login' },
        { ref: '/', name: 'home' },
        { ref: '/about/', name: 'about' }
      ]
    }
  }
}
</script>

<style>

</style>
