<template>
<main class="confirmPage">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-5">
      <p class="fs-2 m-0 fw-normal text-center">Email confirmed for user with token: {{ $route.params.token }}</p>
    </div>
  </div>
</main>
</template>
