<template>
  <main class="loginPage">
    <div class="row d-flex justify-content-center">
      <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 pt-5">
        <form-base @submit.prevent="() => undefined">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="loginEmail">Email</label>
            <input type="email" id="loginEmail" class="form-control" placeholder="email" v-bind:maxlength="this.validEmailMaxLength" required v-model.trim="email"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="emailInvalid !== undefined">{{ emailInvalid }}</div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="loginPassword">Password</label>
            <input type="password" id="loginPassword" class="form-control" placeholder="password" required v-model.trim="password"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="passwordInvalid !== undefined">{{ passwordInvalid }}</div>
          </div>

          <!-- Submit button -->
          <button-base type="submit" class="btn btn-primary btn-block mb-4" @click="submitForm($event)">Sign in</button-base>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Not registered yet? <router-link :to="'/auth/register'">Register</router-link></p>
          </div>
        </form-base>
      </div>
    </div>
  </main>
</template>

<script>
import AuthValidationMixin from '@/mixins/AuthValidationMixin'
import ResponseMixin from '@/mixins/ResponseMixin'
import FormBase from '@/components/FormBase.vue'
import ButtonBase from '@/components/ButtonBase.vue'
export default {
  name: 'LoginView',
  mixins: [AuthValidationMixin, ResponseMixin],
  components: { FormBase, ButtonBase },
  data () {
    return {
      email: undefined,
      password: undefined,
      emailInvalid: undefined, // undefined or str (error message)
      passwordInvalid: undefined // undefined or str (error message)
    }
  },
  methods: {
    validateForm () {
      this.emailInvalid = this.validateEmail(this.email)
      this.passwordInvalid = this.validatePassword(this.password)
      return (this.emailInvalid === undefined) && (this.passwordInvalid === undefined)
    },

    async submitForm (event) {
      if (this.validateForm()) {
        const d = {
          email: this.email,
          psw: this.password
        }
        if (this.$store.state.fwdRedirection.forwardedRoute !== undefined) {
          d.forwarded_route = this.$store.state.fwdRedirection.forwardedRoute
        }
        const response = await this.axios.request({
          method: 'POST',
          url: '/auth/login',
          data: d,
          validateStatus: () => true
        })
        const [status, data, errMsg] = this.checkResponse(
          response,
          (status, data) => {
            if (status === 302) {
              if (!('redirection_route' in data)) {
                return 'Got status code 302 on /auth/login but "redirection_route" is absent'
              }
              this.$store.commit('fwdRedirection/setForwardedRoute', undefined)
              this.$store.commit('loginChecking/setEmail', this.email)
              this.email = undefined
              this.password = undefined
              this.$router.push(this.fixPath(data.redirection_route))
              return null
            } else {
              return undefined
            }
          },
          this.stdCheck400,
          (status, data) => {
            if (status === 401) {
              if ('reason' in data) {
                if (data.reason === 'email') {
                  this.emailInvalid = 'No user with such email'
                  return null
                } else if (data.reason === 'psw') {
                  this.passwordInvalid = 'Password incorrect'
                  return null
                } else {
                  return 'Got status code 401 on /auth/login with unexpected "reason" value'
                }
              } else {
                return 'Got status code 401 on /auth/login but "reason" is absent'
              }
            } else {
              return undefined
            }
          },
          this.stdCheck404,
          this.stdCheck500,
          this.stdCheckUnexpected
        )
        if ((errMsg !== undefined) && (errMsg !== null)) {
          this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
        }
      }
    }
  }
}
</script>
