<template>
  <main class="RegisterPage">
    <div class="row d-flex justify-content-center">
      <div class="col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 pt-5">
        <form-base @submit.prevent="() => undefined">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="registerEmail">Email</label>
            <input type="email" id="registerEmail" class="form-control" placeholder="email" maxlength="128" required v-model.trim="email"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="emailInvalid !== undefined">{{ emailInvalid }}</div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="registerPassword">Password</label>
            <input type="password" id="registerPassword" class="form-control" placeholder="password" required v-model.trim="password"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="passwordInvalid !== undefined">{{ passwordInvalid }}</div>
          </div>

          <!-- Password confirmation input -->
          <div class="form-outline mb-4">
            <label class="form-label fs-4 fw-normal" for="registerPasswordConfirmation">Confirm password</label>
            <input type="password" id="registerPasswordConfirmation" class="form-control" placeholder="password confirmation" required v-model.trim="passwordConfirmation"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="passwordConfirmationInvalid !== undefined">{{ passwordConfirmationInvalid }}</div>
          </div>

          <!-- Submit button -->
          <button-base type="submit" class="btn btn-primary btn-block mb-4" @click="submitForm($event)">Register</button-base>
        </form-base>
      </div>
    </div>
  </main>
</template>

<script>
import AuthValidationMixin from '@/mixins/AuthValidationMixin'
import ResponseMixin from '@/mixins/ResponseMixin'
import FormBase from '@/components/FormBase.vue'
import ButtonBase from '@/components/ButtonBase.vue'
export default {
  name: 'RegisterView',
  mixins: [AuthValidationMixin, ResponseMixin],
  components: { FormBase, ButtonBase },
  data () {
    return {
      email: undefined,
      password: undefined,
      passwordConfirmation: undefined,
      emailInvalid: undefined, // undefined or str (error message)
      passwordInvalid: undefined, // undefined or str (error message)
      passwordConfirmationInvalid: undefined // undefined or str (error message)
    }
  },
  methods: {
    validateForm () {
      this.emailInvalid = this.validateEmail(this.email)
      this.passwordInvalid = this.validatePassword(this.password)
      this.passwordConfirmationInvalid = this.validatePasswordConfirmation(this.password, this.passwordConfirmation)
      return (this.emailInvalid === undefined) && (this.passwordInvalid === undefined) && (this.passwordConfirmationInvalid === undefined)
    },

    async submitForm (event) {
      if (this.validateForm()) {
        const response = await this.axios.request({
          method: 'POST',
          url: '/auth/register',
          data: {
            email: this.email,
            psw: this.password
          },
          validateStatus: () => true
        })
        const [status, data, errMsg] = this.checkResponse(
          response,
          (status, data) => {
            if (status === 302) {
              if (!('redirection_route' in data)) {
                return 'Got status code 302 on /auth/register but "redirection_route" is absent'
              }
              this.$store.commit('loginChecking/setEmail', this.email)
              this.email = undefined
              this.password = undefined
              this.passwordConfirmation = undefined
              this.$router.push(this.fixPath(data.redirection_route))
              return null
            } else {
              return undefined
            }
          },
          this.stdCheck400,
          this.stdCheck404,
          (status, data) => {
            if (status === 409) {
              return 'User with such email is already registered'
            } else {
              return undefined
            }
          },
          this.stdCheck500,
          this.stdCheckUnexpected
        )
        if ((errMsg !== undefined) && (errMsg !== null)) {
          this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
        }
      }
    }
  }
}
</script>
