<template>
  <main class="verifyPage">
    <div class="row">
      <div class="col-12 d-flex justify-content-begin pt-5 ps-5">
        <p class="fs-3 fw-normal">We need you to verify your email to complete the registration</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex ps-5">
        <form-base @submit.prevent="() => undefined">
          <label class="form-label fs-5 fw-normal" for="verifyEmail">Press the button to send a verification letter on given email</label><br>
          <button-base id="verifyEmail" type="submit" class="btn btn-primary btn-lg" :disabled="isDisabled" @click="submitForm($event)">Send</button-base>
        </form-base>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex ps-5 mt-3">
        <div class="alert alert-success fs-5 text-wrap" role="alert" v-if="resp !== undefined">{{ resp }}</div>
      </div>
    </div>
  </main>
</template>

<script>
import ResponseMixin from '@/mixins/ResponseMixin'
import FormBase from '@/components/FormBase.vue'
import ButtonBase from '@/components/ButtonBase.vue'
export default {
  name: 'VerifyView',
  mixins: [ResponseMixin],
  components: { FormBase, ButtonBase },
  data () {
    return {
      resp: undefined,
      isDisabled: false
    }
  },
  methods: {
    async submitForm (event) {
      this.isDisabled = true
      const response = await this.axios.request({
        method: 'POST',
        url: '/auth/verify',
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if ('expiration_time' in data) {
              this.resp = 'A letter was successfully sent. Verification reference will expire after ' +
              data.expiration_time.toString() +
              ' seconds. If you did not get the latter please check your spam folder'
              return null
            } else {
              return 'Got status code 200 on /auth/verify but "expiration_time" is absent'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck400,
        this.stdCheck401,
        this.stdCheck404,
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
      this.isDisabled = false
    }
  }
}
</script>
