<template>
  <button-base class="btn btn-dark btn-lg" @click="logoutRequest()">
    Logout
  </button-base>
</template>

<script>
import ButtonBase from '@/components/ButtonBase.vue'
import ResponseMixin from '@/mixins/ResponseMixin'
export default {
  mixins: [ResponseMixin],
  components: { ButtonBase },
  methods: {
    async logoutRequest () {
      const response = await this.axios.request({
        method: 'POST',
        url: '/auth/logout',
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 302) {
            this.$store.commit('loginChecking/setEmail', undefined)
            return this.stdCheck302(status, data)
          } else {
            return undefined
          }
        },
        this.stdCheck400, this.stdCheck401, this.stdCheck404, this.stdCheck500, this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    }
  }
}
</script>

<style scoped>

</style>
