<template>
  <div class="errorCanvas" v-if="this.$store.state.errHandling.visible" @click="skipError()">
    <div class="errorCallout" @click.stop>
      <label class="mb-3" for="errorMsg">Error in server response</label>
      <p id="errorMsg">{{ this.$store.state.errHandling.error }}</p>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    skipError () {
      this.$store.commit('errHandling/hide')
      this.$store.commit('errHandling/clean')
    }
  }
}
</script>

<style scoped>
.errorCanvas {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
}
.errorCallout {
  margin: auto;
  background: white;
  border-radius: min(1vh, 1vw);
  padding: 1%;
  max-width: 60%;
}
#errorMsg {
  white-space: pre-line;
  margin: 0px
}
</style>
