<template>
  <div class="logged-in p-2" v-if="this.$store.state.loginChecking.email !== undefined">
    <p class="fs-4 m-1 text-center" v-if="this.$store.state.loginChecking.email !== undefined">Logged in as</p>
    <p class="fs-4 m-0 fw-bold text-center">{{ this.$store.state.loginChecking.email }}</p>
  </div>
  <div class="not-logged-in p-2 text-center" v-else>
    <p class="fs-4 m-0">Not logged in</p>
  </div>
</template>

<script>
import LoginCheckMixin from '@/mixins/LoginCheckMixin'
export default {
  mixins: [LoginCheckMixin],
  mounted () {
    this.checkLoggedIn()
  }
}
</script>

<style scoped>
  .logged-in {
    background-color:rgb(200, 255, 200);
    border-radius: 1.5em;
  }
  .not-logged-in {
    background-color:rgb(255, 200, 200);
    border-radius: 1.5em;
  }
</style>
