<template>
  <router-link class="nav-link fs-4 text-primary" :to="navTab.ref">
    {{navTab.name}}
  </router-link>
</template>

<script>
export default {
  props: {
    navTab: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
