<template>
  <footer>
    <div class="row">
      <div class="col-7">
        <contacts-bar/>
      </div>
      <div class="col-1"></div>
      <div class="col-2 d-flex align-items-center justify-content-center">
        <logged-in/>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-end pe-5">
        <button-logout/>
      </div>
    </div>
  </footer>
</template>

<script>
import ContactsBar from '@/components/ContactsBar.vue'
import ButtonLogout from '@/components/ButtonLogout.vue'
import LoggedIn from '@/components/LoggedIn'
export default {
  components: { ContactsBar, ButtonLogout, LoggedIn }
}
</script>

<style scoped>

</style>
