<template>
  <header>
    <div class="row">
      <div class="col-2">
        <img alt="<logo>" src="../assets/logo.png">
      </div>
      <div class="col-7 d-flex align-items-center justify-content-center">
        <h1 v-if="title !== undefined">{{title}}</h1>
      </div>
      <div class="col-3 d-flex align-items-stretch justify-content-end">
        <nav-bar :navTabs="navTabs"/>
      </div>
    </div>
  </header>
</template>

<script>
import NavBar from '@/components/NavBar'
export default {
  components: { NavBar },
  props: {
    title: {
      type: String,
      required: false
    },
    navTabs: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
img {
  max-width: 100%;
  max-height: 100%;
}
</style>
